@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<address>
    <strong>Master Programer: </strong> <p>@ViewData["Programer"]</p>
</address>
